/*:root {*/
/*  filter: invert(100%);*/
/*}*/

body {
  padding: 30px;
}

h2, h3 {
  color: crimson;
}

.main-header {
  background-color: crimson;
  color: #fff;
  margin: -30px -30px 30px -30px;
  padding: 20px 30px;
  width: calc(100% + 60px);
  box-shadow: 0 20px 20px rgba(0,0,0,0.15);
}

.movie-search {
  background: #fff;
  border: 1px solid crimson;
}

input, select {
  border-color: crimson !important;
  color: crimson !important;
}

input::placeholder {
  color: crimson !important;
}

.btn-primary {
  background: crimson !important;
  border-color: crimson !important;
}


.movie-search-list {
  max-height: 50vh;
  overflow: auto;
}

.list-group-item:hover {
  cursor: pointer;
}
.list-group-item button {
  padding: 0;
  display: block;
  color: crimson;
}

.add-to-watchlist {
  font-size: 12px !important;
  color: #333 !important;
}



.movie-list-entry-details {
  margin-top: 10px;
}

.movie-list-entry-details img {
  width: 150px;
  height: auto;
  align-self: flex-start;
}


.similar-movies.row {
  margin-left: -5px;
  margin-right: -5px;
}

.similar-movies > div[class*=col] {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.similar-movies img {
  width: 100%;
  height: auto;
  max-width: 80px;
}


.watchlist {
  border: 1px solid crimson;
  background: #fff;
}

.remove-from-watchlist {
  font-size: 12px !important;
  color: #333 !important;
}


.movie-modal-container {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
}
.movie-modal {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 1200px;
  max-height: 80vh;
  overflow: auto;
  padding: 5vw;
  background: #fff;
  border: 1px solid crimson;
}

.movie-modal-header {
  position: relative;
  margin:-5vw -5vw 3vw -5vw;
  background: crimson;
}

.movie-modal-header .backdrop-image {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  opacity: .5;
  mix-blend-mode: overlay;
}

.movie-modal-header h1 {
  position: absolute;
  right: 5vw;
  bottom: 2vw;
  color: #fff;
  margin: 0;
  width: 50%;
  font-weight: 900;
  text-shadow: 3px 3px 7px rgb(0, 0, 0, 0.3);
}

.movie-modal-close {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 10px;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.movie-modal-poster {
  position: relative;
  margin-top: -13vw;
}